.nav .nav-link {
  color: #cecece;
  background: #a6a6a6;
}

.nav .nav-link:hover {
  color: #ffffff;
}

.nav .nav-link.active {
  font-weight: 500;
  color: grey;
  background: #cecece;
}
.carousel-inner .item {
   height: 200px;
}
