.nav .nav-link {
  color: #cecece;
  background: #a6a6a6;
  border: solid 1px grey;
}

.nav .nav-link:hover {
  color: #ffffff;
}

.nav .nav-link.active {
  font-weight: 500;
  color: grey;
  background: #cecece;
  border: solid 1px grey;
}

.nav .nav-link .color {
  color: black;
  background: white;
  border: solid 1px grey;
}

.nav .nav-link:hover {
  color: #ffffff;
}

.nav .nav-link.active {
  font-weight: 500;
  color: grey;
  background: #cecece;
  border: solid 1px grey;
}

.img-fluid {
  width:100%;
  max-width:1150px;
}

.figure-img {
  width:100%;
  max-width:400px;
}