
h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

ul {
  margin: 0;
}

.navbar .nav-link {
  color: #ff0000;
}

.navbar .nav-link:hover {
  color: #ffffff;
}

.navbar .nav-link.active {
  font-weight: 500;
}


.footer .link {
  color: #ffffff;
}

.footer .link:hover {
  color: #ffffff;
}
.footer .link.active {
  font-weight: 500;
}

.footer .credits .p {
  color: #cbd5db;
}