{% extends "stewardshipProgram/base.html"%}
{% block content %}
{% load static %}

<link rel="stylesheet" href="{% static 'stewardshipProgram/books.css' %}">

<nav aria-label="Book navigation">
  <ul class="pagination  pt-5 mt-4">
    <li class="page-item"><a class="page-link" href="#">What is a Healthy Forest</a></li>
    <li class="page-item"><a class="page-link" href="#">Dirt and Roots</a></li>
    <li class="page-item"><a class="page-link" href="#">Forest Floor</a></li>
    <li class="page-item"><a class="page-link" href="#">Knee High</a></li>
    <li class="page-item"><a class="page-link" href="#">Eye High</a></li>
    <li class="page-item"><a class="page-link" href="#">Sky High</a></li>
    <li class="page-item"><a class="page-link" href="#">Supporting Biodiversity</a></li>
  </ul>
</nav>
<div id="carouselExampleControls" class="carousel slide" data-bs-interval="false" data-bs-ride="carousel">
  <div class="carousel-inner">
    {% block carousel %}{% endblock carousel %}
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </a>
</div>
{% block books %}{% endblock books %}{% endblock content %}
