{% extends "stewardshipProgram/base.html"%}
{% block content %}
{% load static %}

<link rel="stylesheet" href="{% static 'stewardshipProgram/books.css' %}">

<nav>
  <div class="nav nav-tabs mt-5 pt-4" id="nav-tab" role="tablist">
    <a class="nav-link active" id="nav-aHealthyForest-tab" data-bs-toggle="tab" href="#nav-aHealthyForest" role="tab" aria-controls="nav-aHealthyForest" aria-selected="true">What is a Healthy Forest</a>
    <a class="nav-link" id="nav-dirtAndRoots-tab" data-bs-toggle="tab" href="#nav-dirtAndRoots" role="tab" aria-controls="nav-dirtAndRoots" aria-selected="false">Dirt and Roots</a>
    <a class="nav-link" id="nav-forestFloor-tab" data-bs-toggle="tab" href="#nav-forestFloor" role="tab" aria-controls="nav-forestFloor" aria-selected="false">Forest Floor</a>
    <a class="nav-link" id="nav-kneeHigh-tab" data-bs-toggle="tab" href="#nav-kneeHigh" role="tab" aria-controls="nav-kneeHigh" aria-selected="false">Knee High</a>
    <a class="nav-link" id="nav-eyeHigh-tab" data-bs-toggle="tab" href="#nav-eyeHigh" role="tab" aria-controls="nav-eyeHigh" aria-selected="false">Eye High</a>
    <a class="nav-link" id="nav-skyHigh-tab" data-bs-toggle="tab" href="#nav-skyHigh" role="tab" aria-controls="nav-skyHigh" aria-selected="false">Sky High</a>
    <a class="nav-link" id="nav-biodiversity-tab" data-bs-toggle="tab" href="#nav-biodiversity" role="tab" aria-controls="nav-biodiversity" aria-selected="false">Supporting Biodiversity</a>
  </div>
</nav>
<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active" id="nav-aHealthyForest" role="tabpanel" aria-labelledby="nav-aHealthyForest-tab">{% block carousel %}{% endblock carousel %}</div>
  <div class="tab-pane fade" id="nav-skyHigh" role="tabpanel" aria-labelledby="nav-skyHigh-tab">...</div>
  <div class="tab-pane fade" id="nav-dirtAndRoots" role="tabpanel" aria-labelledby="nav-dirtAndRoots-tab">...</div>
  <div class="tab-pane fade" id="nav-forestFloor" role="tabpanel" aria-labelledby="nav-forestFloor-tab">...</div>
  <div class="tab-pane fade" id="nav-kneeHigh" role="tabpanel" aria-labelledby="nav-kneeHigh-tab">...</div>
  <div class="tab-pane fade" id="nav-eyeHigh" role="tabpanel" aria-labelledby="nav-eyeHigh-tab">...</div>
  <div class="tab-pane fade" id="nav-skyHigh" role="tabpanel" aria-labelledby="nav-skyHigh-tab">...</div>
  <div class="tab-pane fade" id="nav-biodiversity" role="tabpanel" aria-labelledby="nav-biodiversity-tab">...</div>
</div>

{% block books %}{% endblock books %}{% endblock content %}
