{% extends "stewardshipProgram/base.html"%}
{% block content %}
{% load static %}

<link rel="stylesheet" href="{% static 'stewardshipProgram/books.css' %}">

<nav aria-label="Page navigation example">
  <ul class="pagination  pt-5 mt-4">
    <li class="page-item"><a class="page-link" href="#">What is a Healthy Forest</a></li>
    <li class="page-item"><a class="page-link" href="#">Dirt and Roots</a></li>
    <li class="page-item"><a class="page-link" href="#">Forest Floor</a></li>
    <li class="page-item"><a class="page-link" href="#">Knee High</a></li>
    <li class="page-item"><a class="page-link" href="#">Eye High</a></li>
    <li class="page-item"><a class="page-link" href="#">Sky High</a></li>
    <li class="page-item"><a class="page-link" href="#">Supporting Biodiversity</a></li>
  </ul>
</nav>
<div id="carouselExampleControls" class="carousel slide" data-bs-interval="false" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
          <img src="https://lh3.googleusercontent.com/C42Fggzz5zE3YNntJfaLpCt9TljbRsgj5AsP2SKkYtdI0NmJLxYyS3abJPmjcPzAnLT90TL3JxfeEdn6Z8wZU6pJ895xsicAnmQRWvZisu_ZRPNCyNNkKxN7lzhun7IsC2fWKLE5d9Siz8f0uluoBk5Hqv21c00B26aACMpcSsqSlR-Rl1j9CJO22NB19t7NmOITf6VrxLS8E2Rsyb9lpYKuhltgG2G84si16bfzGMBeusZufba-xf8UGggMZkJF6xJck79pfW8bZOOzwiNQ1-pcFJUMoaNwHnldaQtXW2jmTyV2FKtBKAUvSsYhC9qiGHz9VV8NQhDyJvIQNn-3BiJvGDWDlH7tfZCCQSCN6vDD1yNjEqKkJC2Z3yIQ-g6pTz-cSHTkMGQxI_aRuTEiAi8mvMfFF-yiPX7Ep77FIMj7dGm-GdMH6YEAAqfrp4vWcDug0VTH6bLupGRmDZrW-_uwel_xor5pFAZmSqt4mLzgfrE4UVxq8jloR8-cF5odNUtYkGqK9aoyfeymlFLI_ianY_3NZPVM1sVa-Mk3AD7SfSHthFQf7eYuO5vZQJMmk6FiRc_e8gty2VuIDiGrPmh98ZKplDUF_LmjCIKvLPWOX18a4tovpYmMDpZoMbhiUfCs_-ymJHgbITNukNbhoWjli-_JiNxUsTKP_flxCrosp0_mKpSGtTw=w1000-h800-no?authuser=0" class="d-block w-100" alt="...">
        </div>
    {% block carousel %}{% endblock carousel %}
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </a>
</div>
{% block books %}{% endblock books %}{% endblock content %}
