{% extends "stewardshipProgram/main.html"%}
{% block content %}

<div class="container">
  <div class="row">
    <iframe class="responsive-iframe" src="https://scratch.mit.edu/projects/485839924/embed" allowtransparency="true" width="485" height="500" frameborder="0" scrolling="no" allowfullscreen></iframe>
    <div class="col">
      <h3>Ispy Game</h3>
      <p>This is where the description of the ispy game goes</p>
    </div>
  </div>
  <div class="row">
    <iframe class="responsive-iframe" src="https://scratch.mit.edu/projects/486312600/embed" allowtransparency="true" width="485" height="500" frameborder="0" scrolling="no" allowfullscreen></iframe>
    <div class="col">
      <h3>Matching Game</h3>
      <p>This is where the description of the matching game goes</p>
    </div>
  </div>
  <div class="row">
    <iframe class="responsive-iframe" src="https://scratch.mit.edu/projects/486312845/embed" allowtransparency="true" width="485" height="500" frameborder="0" scrolling="no" allowfullscreen></iframe>
    <div class="col">
      <h3>Living vs. Non-Living Game</h3>
      <p>This is where the description of the living vs. non-living game goes</p>
    </div>
  </div>
</div>
{% endblock content %}
