{% extends "stewardshipProgram/main.html"%}
{% block content %}

<div class="container">
  <div class="row">
    <iframe class="responsive-iframe" src="https://scratch.mit.edu/projects/485839924/embed" allowtransparency="true" width="485" height="500" frameborder="0" scrolling="no" allowfullscreen></iframe>
    <div class="col">
      <h3>Ispy Game</h3>
      <p>Can you spot all 6 of the animals in this photo? Click all the animals that you find! Click the green flag to start playing!</p>
    </div>
  </div>
  <div class="row">
    <iframe class="responsive-iframe" src="https://scratch.mit.edu/projects/486312845/embed" allowtransparency="true" width="485" height="500" frameborder="0" scrolling="no" allowfullscreen></iframe>
    <div class="col">
      <h3>Living vs. Non-Living Game</h3>
      <p>Choose whether the photo shows a living or non-living thing! Then organize them into the approptiate boxes! Click the green flag to start playing!</p>
    </div>
  </div>
  <div class="row">
    <iframe class="responsive-iframe" src="https://scratch.mit.edu/projects/486312600/embed" allowtransparency="true" width="485" height="500" frameborder="0" scrolling="no" allowfullscreen></iframe>
    <div class="col">
      <h3>Matching Game</h3>
      <p>Can you match all of the animal tracks to the correct animal? Try your best and see if you can figure them out! Click the green flag to start playing!</p>
    </div>
  </div>
</div>
{% endblock content %}
