{% extends "stewardshipProgram/books.html"%}
{% load static %}
{% block title%}

<h1>Preschool Age Group: 3-5 Years</h1>

{% endblock title%}

{% block words %}

<h3>Introduction: What is a Healthy Forest</h3>
<p>This unit is meant to provide an opportunity for the children and their teachers/parents to become familiar in the forest. Each level of this curriculum seeks to bring the child to the forest and the forest to the classroom, so becoming comfortable in the forest is important. Children at this age should be exploring with all their senses. What does the forest smell like, look like, sound like, feel like and even taste like? How does this change between seasons? The curriculum asks us to think about the connections in the forest, between the soil and the treetops and how the health of the forest depends on all its various parts. Explore these questions at an age appropriate level.</p>
<span>This level is supported by the Kwiakah young Forest Stewards coloring book</span>
<a href="{% static 'stewardshipProgram/preschoolCurriculums/3to5_Curriculum_Lvl0.pdf' %}" download>
    <p>Introductory Curriculum</p>
</a>
<a href="{% static 'stewardshipProgram/KWFS_colouringBook.pdf' %}" download>
    <p>Colouring book</p>
</a>

<h3>Level 1 - Soil</h3>
<p>In this level, the intention is for the children to be aware of the soil and how it supports the growth of the forest. Without good, healthy soil, the rest of the forest cannot be healthy. What do they find in the soil? Look for its parts (sand, silt, clay, rocks). What do they feel like and why are they different? Consider how the nutrients get into the soil to support the health of the forest. Can they find a worm? How does the worm help a tree grow?</p>
<span>This level is supported by Book 1 – Soil: A Healthy Forest Begins</span>
<a href="{% static 'stewardshipProgram/preschoolCurriculums/3to5_Curriculum_Lvl1.pdf' %}" download>
    <p>Level 1 Curriculum</p>
</a>

<h3>Level 2 – The Forest Floor</h3>
<p>In this level, the intention is for children to explore the forest floor and learn about what lives here. Have the children lie on their tummies. Look for decaying and decomposing plant matter. What does it feel like? What does it smell like? What plants and animals help break down the material and how does it get into the soil to support forest growth? Consider ways for them to understand the connection between what is in the soil with what lives on top of it. </p>
<span>This level is supported by Book 2 – The Forest Floor: New Life and Decay</span>
<a href="{% static 'stewardshipProgram/preschoolCurriculums/3to5_Curriculum_Lvl2.pdf' %}" download>
    <p>Level 2 Curriculum</p>
</a>

<h3>Level 3 – Knee High in the Forest</h3>
<p>Have children crawl through the forest. They can pretend to be a raccoon or beaver. What would they eat and where would they find it? Ask the children what they see while on their hands and knees. Children should begin to make connections between the parts of the forest and the forest world at this level at a basic level. They should begin to see the differences and why some plants and animals choose to live here rather than in other parts of the forest.</p>
<span>This level is supported by Book 3 – Knee High in the Forest: What Lives Here?</span>
<a href="{% static 'stewardshipProgram/preschoolCurriculums/3to5_Curriculum_Lvl3.pdf' %}" download>
    <p>Level 3 Curriculum</p>
</a>

<h3>Level 4 – Eye High in the Forest</h3>
<p>Have the children walk through the forest. What do they see in front of them? Is it different from what an adult sees because they are taller? Think about the biodiversity at this level and seek ways to create links between the soil and treetops. What is living here? Children should start to see differences in trees by looking at the bark, needles, cones and leaves. Talk about what lives here and why they choose this part of the forest. Children should begin to understand the connections with the other parts of the forest.</p>
<span>This level is supported by Book 4 – Eye High in the Forest: Walking Among Giants</span>
<a href="{% static 'stewardshipProgram/preschoolCurriculums/3to5_Curriculum_Lvl4.pdf' %}" download>
    <p>Level 4 Curriculum</p>
</a>

<h3>Level 5 – Sky High in the Forest</h3>
<p>Have children lie on their backs in the forest. Look at the treetops. Children should understand that the dirt under them is important for helping the trees grow strong and big. At a basic level, children should start to understand how the nutrients from the soil get into the trees and how the decay and decomposition on the forest floor supports that process. Children should start to notice that the life high in the trees is different from what’s around them on the forest floor. They should be building connections between the levels of the forest.</p>
<span>This level is supported by Book 5 – Sky High: A Bird’s-Eye View</span>
<a href="{% static 'stewardshipProgram/preschoolCurriculums/3to5_Curriculum_Lvl5.pdf' %}" download>
    <p>Level 5 Curriculum</p>
</a>

{% endblock words %}