{% extends "stewardshipProgram/books.html"%}
{% load static %}
{% block title%}

<h1>Toddler Age group: 0-2 Years</h1>

{% endblock title%}

{% block intro %}

<h3>Introduction: What is a Healthy Forest</h3>
<p>This unit is meant to provide an opportunity for the children and their teachers/parents to become familiar in the forest. Each level of this curriculum seeks to bring the child to the forest and the forest to the classroom, so becoming comfortable in the forest is important. Children at this age should be exploring and feeling safe and comfortable in the forest. They should be staying close but with a buddy they can explore and get dirty while being respectful of the forest around them. What does the forest smell like and why? What does the forest look like and why? What does the forest sound like and why? What does the forest feel like and even taste like and why? How does this change between seasons and why? The curriculum asks us to think about the connections in the forest, between the soil and the treetops and how the health of the forest depends on all its various parts.</p>
<span>This level is supported by the Kwiakah young Forest Stewards coloring book</span>
<a href="{% static 'stewardshipProgram/preschoolCurriculums/0to2_Curriculum_Lvl0.pdf' %}" target="_blank"><p>Introductory Curriculum</p></a>
<a href="{% static 'stewardshipProgram/KWFS_colouringBook.pdf' %}" target="_blank"><p>Colouring book</p></a>
{% endblock intro %}

{% block level1 %}

<h3>Level 1 - Soil</h3>
<p>In this level, the intention is for the children to be aware of the soil and how it supports the growth of the forest. Without good, healthy soil, the rest of the forest cannot be healthy. The children should play in the soil, feeling its smoothness, grittiness, moistness, etc.</p>
This level is supported by Book 1 – Soil: A Healthy Forest Begins
<a href="{% static 'stewardshipProgram/toddlerCurriculums/0to2_Curriculum_Lvl1.pdf' %}" target="_blank">
    <p>Level 1 Curriculum</p>
</a>

{% endblock level1 %}
{% block level2 %}

<h3>Level 2 – The Forest Floor</h3>
<p>In this level, the intention is for children to explore the forest floor and learn about what lives here. Consider ways for the children to understand the connection between what is in the soil with what lives on top of it. Children can get down on the forest floor and look around. It’s a whole new world when you look closely. Look for decaying and decomposing plant matter. What does it feel like? What does it smell like?</p>
This level is supported by Book 2 – The Forest Floor: New Life and Decay
<a href="{% static 'stewardshipProgram/toddlerCurriculums/0to2_Curriculum_Lvl2.pdf' %}" target="_blank">
    <p>Level 2 Curriculum</p>
</a>
{% endblock level2 %}
{% block level3 %}
<h3>Level 3 – Knee High in the Forest</h3>
<p>Have children crawl through the forest. Ask them what they see. Children should seek connections with the other parts of the forest to begin to understand that the forest world at this level, just above the forest floor is important for a healthy forest.</p>
This level is supported by Book 3 – Knee High in the Forest: What Lives Here?
<a href="{% static 'stewardshipProgram/toddlerCurriculums/0to2_Curriculum_Lvl3.pdf' %}" target="_blank">
    <p>Level 3 Curriculum</p>
</a>
{% endblock level3 %}
{% block level4 %}
<h3>Level 4 – Eye High in the Forest</h3>
<p>Have the children walk through the forest. What do they see in front of them? Is it different than what an adult sees because they are taller? Think about the biodiversity at this level and seek ways to create links between the soil and treetops. Work with the children to give them names of what lives in this part of the forest. Children should begin to understand the connections with the other parts of the forest at a very basic and age-appropriate level.</p>
This level is supported by Book 4 – Eye High in the Forest: Walking Among Giants
<a href="{% static 'stewardshipProgram/toddlerCurriculums/0to2_Curriculum_Lvl4.pdf' %}" target="_blank">
    <p>Level 4 Curriculum</p>
</a>
{% endblock level4 %}
{% block level5 %}
<h3>Level 5 – Sky High in the Forest</h3>
<p>Have children lie on their backs in the forest. Look to the treetops. Children should understand that the dirt under them is important for helping the trees grow strong and big. Think about what lives high in the treetops. Why do they live there? What do they eat? Explore this at a basic and age-appropriate level.</p>
This level is supported by Book 5 – Sky High: A Bird’s-Eye View
<a href="{% static 'stewardshipProgram/toddlerCurriculums/0to2_Curriculum_Lvl5.pdf' %}" target="_blank">
    <p>Level 5 Curriculum</p>
</a>
{% endblock level5 %}
